* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: es;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

body {
    position: relative;
    overflow-x: hidden;
}

header {
    width: 100%;
    background: black;
    position: relative;
    height: 410px;
    overflow: hidden;
}


div.retro a i {
    font-size: 30px;
}

div.retro {
    padding: 1%;
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0;
    z-index: 300000;
    background: rgba(20, 24, 80, 0.966);
    transition: .4s;
}

div.retro:hover {
    padding: 1% 3%;
}

header nav {
    width: 100%;
}


header .bg {
    width: 100%;
    background: rgba(0, 0, 0, 0.459);
}

header .bg img {
    position: absolute;
    margin: auto;
    top: 0px;
    width: 100%;
    opacity: 0.5;
    left: 0;
    right: 0;
}

header .bg .pp {
    position: absolute;
    z-index: 1000;
    width: 200px;
    left: 50px;
    bottom: 50px;
    border: 2px solid white;
}

header .bg .pp img {
    position: relative;
    opacity: 1;
    width: 100%;
    z-index: 1000;
}

header .bg p {
    font-size: 30px;
    position: relative;
    top: 200px;
    width: 100%;
    padding: 2%;
    background: rgba(44, 44, 44, 0.52);
    z-index: 3;
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: normal;
    font-weight: 900;
}

a {
    color: rgb(0, 81, 255)
}

/*menu*/

nav {
    padding: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    z-index: 3000;
    background: rgba(0, 0, 0, 0.568);
}




ul, ol {
    list-style:none;
    z-index: 200;
}

.nav > li {
    float:left;
}

.nav li p {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    letter-spacing: 2px;
    display:block;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    letter-spacing: 2px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}


/*section*/

section {
    width: 70%;
     margin: auto;
     padding: 2%;
     margin-top: 30px;
     text-align: left;
}

section h1 {
    letter-spacing: 5px;
    top: 0;
    margin-bottom: 50px;
    height: 170px;
    line-height: 200px;
    background: white;
    border-bottom: 1px solid;
    padding: 3% 0;
    text-align: center;
}

section h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

section p {
    line-height: 30px;
    letter-spacing: 2px;
}

section img {
    width: 100%;
}

/*form*/

input[type="text"],input[type="email"],input[type="number"], input[type="date"], input[type="password"]{
	font-size: 15px;
	color: #333;
    text-align: left;
    letter-spacing: 1px;
    padding: 14px 10px;
	width:93%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}

.input{
    margin-top: 10px;
    margin-bottom: 20px;
	padding: 3px 10px;
	border: 1px solid #ddd;
	background: #fff;
}


/*footer*/

footer {
    background: black;
    width: 100%;
    position: absolute;
    padding: 3%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.array2{
    opacity: 0;
}

@media screen and (max-width: 500px) {


    .array2{
        opacity: 1;
    }

    b.sintax {
        display: none;
    }

    header {
        width: 100%;
        background: black;
        position: relative;
        height: 250px;
        overflow: hidden;
    }
    
    body {
        overflow-x: hidden;
    }

    header nav {
        width: 100%;
    }
    
    header .bg {
        width: 100%;
        background: rgba(0, 0, 0, 0.459);
    }
    
    header .bg img {
        position: absolute;
        margin: auto;
        top: 0px;
        width: 100%;
        opacity: 0.5;
        left: 0;
        right: 0;
    }
    
    header .bg .pp {
        position: absolute;
        z-index: 1000;
        width: 100px;
        margin: auto;
        left: 0;
        right: 0;
        top: 80px;
        
        border: none;
    }
    
    header .bg .pp img {
        position: absolute;
        opacity: 1;
        width: 100%;
        z-index: 1000;
    }
    
    header .bg p {
        font-size: 20px;
        position: relative;
        top: 200px;
        width: 100%;
        padding: 2%;
        background: rgba(44, 44, 44, 0.52);
        z-index: 3;
        color: rgb(255, 255, 255);
        text-align: center;
        font-style: normal;
        font-weight: 900;
    }
    
    /*menu*/
    
    nav {
        padding: 2%;
        font-family: 'Source Sans Pro', sans-serif;
        position: fixed;
        z-index: 3000;
        background: rgba(0, 0, 0, 0.664);
    }
    
    ul, ol {
        list-style:none;
        z-index: 200;
    }
    
    .nav > li {
        float:left;
    }
    
    .nav li p {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        letter-spacing: 2px;
        display:block;
    }
    
    .nav li a {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        letter-spacing: 2px;
        display:block;
    }
    
    .nav li a:hover {
        background-color:#434343;
    }
    
    .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }
    
    .nav li:hover > ul {
        display:block;
    }
    
    .nav li ul li {
        position:relative;
    }
    
    .nav li ul li ul {
        right:-140px;
        top:0px;
    }
    
    /*section*/
    
    section {
        width: 90%;
         margin: auto;
         padding: 5%;
         margin-top: 30px;
         text-align: justify;
    }
    
    section h1 {
        letter-spacing: 5px;
        top: 0;
        height: 80px;
        line-height: 30px;
        background: white;
        border-bottom: 0px ;
        padding: 3% 0;
        font-size: 19px;
        text-align: center;
    }
    
    section p {
        text-align: left;
        line-height: 30px;
        letter-spacing: 0px;
        margin-bottom: 20px;
    }
    
    /*form*/
    
    
    input[type="text"] {
        font-size: 14px;
        color: #333;
        text-align: left;
        letter-spacing: 1px;
        padding: 14px 10px;
        width:93%;
        display:inline-block;
        box-sizing: border-box;
           border: none;
        outline: none;
        background: transparent;
        font-family: 'Raleway', sans-serif;
    }
    
    input[type="email"] {
        font-size: 15px;
        color: #333;
        text-align: left;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding: 14px 10px;
        width:93%;
        display:inline-block;
        box-sizing: border-box;
           border: none;
        outline: none;
        background: transparent;
        font-family: 'Raleway', sans-serif;
    }
    .input{
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 3px 10px;
        border: 1px solid #ddd;
        background: #fff;
    }
    
    
    /*footer*/
    
    footer {
        background: black;
        width: 100%;
        position: absolute;
        padding: 3%;
        text-align: center;
        color: rgb(255, 255, 255);
    }


    pre {
        display: none;
    }

    

}

pre {
    margin-bottom: 50px;
    margin-top: 50px;
     font-family: 'Inconsolata', monospace; 
     line-height: 20px; color: white; 
     background: rgb(30, 30, 31); 
     font-size: 16px; 
     width: 100%;
     border: 1px solid black; 
     padding: 2%;
}

span.valor {
    color: rgb(255, 226, 64);
    font-style: italic;
}

span.etiqueta {
    color: rgb(169, 255, 152);
}

span.argumento {
    color: rgb(243, 119, 119);
}

.espacio {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

button {
    position: relative;
    padding: 2%;
    background: white;
    border: 1px solid rgb(0, 68, 255);
    cursor: pointer;
    font-size: 20px;
    margin-right: 50px;
}

#gifu {
    position: fixed;
    display: block;
    bottom: 0px;
    right: -400px;
    z-index: -1;
    opacity: 0.4;;
    transition: 1s;
}

.gifanimation {
    transform: rotateX(360deg) translateX(-400px);
}

section ul.dots li {
    list-style: circle;
    margin-left: 70px;
}
 
hr {
    margin-top: 50px;
    margin-bottom: 50px;
}


table {
    width: 100%;
    margin: auto;
   background: white;
   border: rgb(211, 209, 209) solid 1px;
   padding: 1% 2%;
   margin-bottom: 50px;
}

table thead {
    color: rgb(131, 129, 129); 
    margin-bottom: 1px;
}

table thead tr th, table tfoot tr th{
    padding: 2%;
    margin-bottom: 10px;
}

table tbody {
    color: rgb(43, 43, 43);
}

table tbody tr th:first-child {
    text-align: left;
}

table tbody tr th:last-child ,table thead tr th:last-child, table tfoot tr th:last-child{
    text-align: right;
}

table tbody tr th {
    padding: 2%;
}

input.campo {
    outline: auto;
    outline-color: rgb(59, 29, 194);
}

form.select select {
    width: 100%;
}

textarea.dic {
    border: 2px solid rgb(59, 29, 194);
    border-radius: 5px;
    padding: 2%;
    resize: none;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.formStyle {
    width: 80%;
    padding: 1% 3%;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
    margin: auto;
}

.input-field {
    display: flex;
    position: relative;
    margin-top: 50px;
}

.input-field label {
    position: absolute;
    top: -20px;
}

.big {
    font-size: 30px;
}

.radius {
    border-radius: 10px;
}

.radius:hover {
    background: rgb(21, 72, 182);
    color: white;
}


.controls {
    padding: 2%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: rgb(27, 16, 128);
}

.controls form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.controls form p {
    color: rgb(143, 123, 255);
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.controls label {
    color: white;
}

.input-group2 {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.controls input {
    width: 30%;
    background: white;
}

/* table 2 */

#tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabla td, #tabla th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tabla tr:nth-child(even){background-color: #f2f2f2;}
  
  #tabla tr:hover {background-color: #ddd;}
  
  #tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #030a49;
    color: white;
  }

  td {
      color: rgb(155, 155, 155);
  }

  .value {
      background: rgb(30, 59, 189);
      color: white;
      text-align: center;
  }
  div.green {
      background: rgb(51, 51, 51);
  }

  .output {
      margin-top: 50px;
      padding: 2%;
      background: rgb(170, 170, 170);
  }

  .output .input-group2 {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


  .output input {
    width: 50%;
    background: white;
}

.content {
    width: 60%;
    padding: 4%;
    margin: auto;
}

.example {
    font-size: 20px;
}

.izquierda {
    text-align: left;
    color: rgb(16, 16, 196);
}

.justify {
    text-align: justify;
    color: rgb(235, 178, 36);
}

.center {
    text-align: center;
    color: rgb(196, 18, 18);
}

.grafica {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    background: rgb(236, 236, 236);
    height: 60vh;
}

.grafica .bars {
    position: relative;
    width: 80%;
    margin-left: 20%;
    height: 90%;
    background: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    border-bottom: 1px solid #000;
    padding-top: 15px;
    
}

.grafica .bars .bar {
    width: 20px;
    background-image: linear-gradient(to top, #082b60, #00538b, #007eb2, #00aad2, #12d8eb);
}

.grafica .data {
    width: 80%;
    margin-left: 20%;
    height: 10%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.grafica .data .box {
    width: 20px;
    text-align: center;
    font-size: 20px;
}

.bars .info {
    text-align: left;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(175, 173, 173);
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 20px;
    position: absolute;
    top: 20px;
    left: -200px;
    box-shadow: 1px 1px 1px 1px black;
    overflow: hidden;
    background-color: white;
    padding-bottom: 50px;
    overflow-y: auto;
}

.slidesdiv {
    position: relative;
    top: 50px;
    width: 800px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-between;
    width: 1000%;
    overflow: hidden;
    transition: .4s;
}

.slides .slide {
    width: 10%;
    flex-shrink: 1;
}

.slide img {
    width: 100%;
}

.contador {
    position: absolute;
    z-index: 100;
    color: white;
    top: 20px;
    left: 20px;
    font-size: 25px;
}

span.value {
    background: transparent;
}

.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #123a8f;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #123a8f;
	padding: 3%;
	border: 1px solid #123a8f;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #123a8f;
	border-bottom: 2px solid #2955b4;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background:  #2955b4;
}

.auto {
    margin: auto;
}

.movies {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.movies .movie {
    width: 200px;
    transition: .4s;
    overflow: hidden;
    cursor: pointer;
}

.movies .movie:hover {
    border: 1px solid grey;
}

.movies .movie:hover img {
    transform: scale(1.05);
}

.movies .movie img {
    transition: .4s;
    width: 100%;
}

.detalles {
    margin: auto;
}

.menuPagina {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    background: rgb(2, 2, 104);
}

.menuPagina li {
    color: white;
    cursor: pointer;
}