body{
    background-color: rgb(255, 255, 255);

}


#info{
    width: 80%;
    padding: 2% 0%;
    position: relative;
    margin: auto;
    background-color: rgb(4, 36, 124);
}

#info h1 {
    color: #fff;
    text-align:center;
    line-height: 50px;
}